.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  text-align: end;
  border: none;
  padding: 5px 0 3px;
  border-radius: 6px;
  background: inherit;
  font-weight: 500;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  opacity: 0.5;
}

.btn:focus {
  outline: 1px;
}
